/*
  Специально для светлой темы при наличии класса.
  Здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

:root.theme-light {
  /* сохраните этот селектор в приведённом виде.
    Так стили написанные ниже будут иметь больший вес,
    чем стили в медиазапросе предпочтений пользователя
  */
  --bg-color: #fff1f7;
  --accent-color: #ff8dcb;
  --title-color: #ffc2e6;
  --text-color: #353430;
  --special-text-color: #353430;
  --accented-text-color: #353430;
  --menu-btn-hover-color: rgb(50 49 45 / 0.4);
  --bg-image: none;
}

.theme-light .header__sign {
  display: none;
}

/* В разборе цвет активной кнопки и эффект при наведении заменен здесь:
.theme_light .header__theme-menu-button_active {
  border: 1px solid var(--nav-color);
}

.theme_light .header__theme-menu-button:hover {
  --nav-hover-color: rgb(50 49 45 / 0.4);
} */

/* Добавляем медиазапрос предполчтений пользователя,
где дублируем переменные и стили для светлой темы.
У меня не все стили, что есть в разборе (кажется,
я исползовала currentColor) */
@media (prefers-color-scheme: light) {
  :root {
    --bg-color: #fff1f7;
    --accent-color: #ff8dcb;
    --title-color: #ffc2e6;
    --text-color: #353430;
    --special-text-color: #353430;
    --accented-text-color: #353430;
    --bg-image: none;
  }

  .header__sign {
    display: none;
  }
}
